- @window_title = "History"
- @page_title = "History"

.page-title
  .title_left
    %h3
      = @page_title.html_safe
  .title_right

.clearfix
.row
  - if @feeds.blank?
    %p.empty No Feed
  - else
    %table{:id => 'history_table', :class => "table table-striped responsive-utilities jambo_table", :cellpadding => 0, :cellspacing => 0, :rel => "" , :summary => "History"}
      %thead
        %tr
          %th Target
          %th Action
          %th.author User     
          %th Date
      %tbody
        - @feeds.each do |feed|
          %tr
            %td
              - unless feed.feedable_type.blank?
                = feed.feedable_type.demodulize
              - else
                Unknown
              = ": #{feed.title}"  
            %td
              
              = feed.action_type
            %td
              - unless feed.user.blank?
                = link_to feed.user.full_name, edit_admin_user_path(feed.user.id)
            %td
              = feed.created_at.strftime("%d/%m/%Y at %H:%M")
    = will_paginate @feeds          