!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title
        = "#{website_title} #{@window_title.blank? ? '' : ' : ' + @window_title}"
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %meta{:content => "Updating your site is a piece of cake", :name => "description"}
      %meta{:content => "Freerange Future", :name => "author"}
      = csrf_meta_tag

      = stylesheet_link_tag "gluttonberg", :media => "all"
      = javascript_include_tag "gluttonberg",  :charset => "utf-8"

      = custom_javascript_include_tag
      = custom_stylesheet_link_tag

      /[if lt IE 9]
        = javascript_include_tag "gb_html5"

  %body.nav-md
    .container.body
      .main_container
        = render "/layouts/sidebar_nav"
        = render "/layouts/top_nav"


        .right_col{:role => "main"}
          = yield

          / .container-fluid
          /   - unless flash.blank?
          /     = render "/layouts/flash_messages", :locals => {:close_button => true}
          /   = yield

          %footer
            .pull-right
              %a{:href => "http://freerangefuture.com", :target => "_blank"}
                Freerange Future
              #{Time.now.year}
            .clearfix
